*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-image: url("./img/pattern-wood-retro-desktop.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.reticle{
    width: 200px;
    position: absolute;
    top:0;
    left:0;
    /* z-index: 1; */
}
.mosquito{
  width: 200px;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}
.butterfly{
    width: 200px;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
  }
.score{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 800;
    z-index: 9;
}
.timer{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 800;
    z-index: 9;
}